/*  your css code here. If applicable */
#id{
	background:yellow;
	border-width:1px;
	border-color:green;
}
#id{
	background:red;
	border-width:1px;
	border-color:black;
}

#id{
	background:green;
	border-width:1px;
	border-color:yellow;
}